div.container div button {
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 10%;
    background: rgb(255,1,1);
    background: linear-gradient(90deg, rgba(255,1,1,1) 0%, rgba(255,124,0,1) 71%);
    font-weight: bold; 
}