@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'bottone';
@import 'variabili';

   

$colore-primario: rgba(255, 162, 0, 0.471);
body {
    background-color: $colore-primario; 
    overflow-y: hidden;
}

header div {
   background-color: chocolate; 

}  ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 27px;
    margin-top: -0.5rem;
        li {
        list-style: none;
        padding-right: 1rem;
        font-size: 1.2rem;
}
}
.foresta {
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -1rem;
}
.container {
    display: flex;
    z-index: 21;
    position: relative;
    top: -127.37rem;
    left: -14.68rem;
        div {
        padding: 3rem;
    }
    h2 {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 2rem;
    }
}
button:last-child {
    z-index: 10;
    font-weight: bold;;
    font-size: 1.2rem;
    padding: 2rem;
    background-color: aqua;
   
    border-radius: 60%;
    :hover {
        cursor: pointer;
    }
}

.testo {
    color: aliceblue;
}
.fireoff {
  background-repeat:  no-repeat;
    visibility: hidden;
}
.fireon {
    visibility: visible;
    z-index: 20;
    position: relative;
    bottom: 162.37rem;
    width: 100%;
}
.forestamorta {
    visibility: hidden;
}
.forestamortaon {
    visibility: visible;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    top: -109rem;
    z-index: 10;
    height: 135rem;
}
.container > button:nth-child(2) {
    width: 18rem;
    height: 7rem;
    position: relative;
    border-radius: 50%;
    top: 49em;
    left: 39rem;
   }
   